#### TOPIC: String Based Assignment Problem

In [4]:
#1. Write a program to reverse a string.

s = input('Enter a string: ')
print('Reversed string: ', s[::-1])

Enter a string:  Bikash

Reversed string:  hsakiB

In [6]:
#2. Check if a string is a palindrome.

s = input('Enter a string: ')
r = s[::-1]
if s==r:
    print('Palindrome String')
else:
    print('Not a Palindrome String')

Enter a string:  madam

Palindrome String

In [9]:
#3. Convert a string to uppercase.

s = input('Enter a string: ')
print('String in uppercase:', s.upper())

Enter a string:  Bikash

String in uppercase: BIKASH

In [10]:
#4. Convert a string to lowercase.


s = input('Enter a string: ')
print('String in uppercase:', s.lower())

Enter a string:  BikAsh

String in uppercase: bikash

In [27]:
#5. Count the number of vowels in a string.

s = input('Enter a string: ')
vowels = ['a','e','i','o','u','A','E','I','O','U']

ctr = 0
for v in vowels:
    ctr+=s.count(v)

print('Number of vowels present in',s,'are',ctr)

Enter a string:  Data Science

Number of vowels present in Data Science are 5

In [36]:
#6. Count the number of consonants in a string.

s = input('Enter a string: ')
stg = s.lower()

ctr=0
for s1 in stg:
    if s1>='a' and s1<='z':
        if (s1=='a' or s1=='e' or s1=='i' or s1=='o' or s1=='u'):
            continue
        else:
            ctr+=1
            
print('Number of consonants present in',s,'are',ctr)

Enter a string:  Bikash Prusty

Number of consonants present in Bikash Prusty are 9

In [38]:
#7. Remove all whitespaces from a string.

s=input('Enter a string: ')
print('String after removing whitespaces: ', s.replace(' ',''))

Enter a string:  Data Science Mas ter s

String after removing whitespaces:  DataScienceMasters

In [1]:
#8. Find the length of a string without using the `len()` function.

s = input('Enter a string: ')

ctr=0
for s1 in s:
    ctr+=1
        
print('Length of',s,'are',ctr)

Enter a string:  PowerBI

Length of PowerBI are 7

In [5]:
#9. Check if a string contains a specific word.

s = input('Enter a string: ')
w = input('Enter word to be searched: ')

s1 = s.split()

for i in s1:
    if i == w:
        print(w,'is present in',s)
        break

Enter a string:  Bikash Chandra Prusty
Enter word to be searched:  Chandra

Chandra is present in Bikash Chandra Prusty

In [17]:
#10. Replace a word in a string with another word.

s = input('Enter a string: ')
r = input('Enter word to be replaced: ')
w = input('Enter new word for replaced word: ')

if r in s:
    print('Result: ',s.replace(r,w))
else:
    print('Word to be replaced not found in the string')

Enter a string:  Bikash Chandra Prusty
Enter word to be replaced:  Chandra
Enter new word for replaced word:  Kumar

Result:  Bikash Kumar Prusty

In [20]:
#11. Count the occurrences of a word in a string.

s = input("Enter a string")
w = input("Enter word whose occurance has to be counted: ")

print('Count of',w,'in',s,':',s.count(w))

Enter a string coding is fun; coding exercises the brain
Enter word whose occurance has to be counted:  coding

Count of coding in coding is fun; coding exercises the brain  : 2

In [25]:
#12. Find the first occurrence of a word in a string.

s = input("Enter a string:")
w = input("Enter word whose first occurance has to be searched: ")

print('First occurance of',w,"in", s, "is at",s.find(w), 'index')

Enter a string: hello how are you? hope you are good!
Enter word whose first occurance has to be searched:  are

First occurance of are in hello how are you? hope you are good! is at 10 index

In [26]:
#13. Find the last occurrence of a word in a string.

s = input("Enter a string:")
w = input("Enter word whose first occurance has to be searched: ")

print('Last occurance of',w,"in", s, "is at",s.rfind(w), 'index')

Enter a string: hello how are you? hope you are good!
Enter word whose first occurance has to be searched:  you

Last occurance of you in hello how are you? hope you are good! is at 24 index

In [27]:
#14. Split a string into a list of words.

s = input("Enter a string:")
print("String to list of words", s.split())

Enter a string: coding is fun

String to list of words ['coding', 'is', 'fun']

In [35]:
#15. Join a list of words into a string.

l = list(input("Enter a list of words: "))
print("".join(l))

Enter a list of words:  hello world

hello world

In [36]:
'''16. Convert a string where words are separated by spaces to one where words
are separated by underscores.'''

s = input("Enter a string: ")
print("Result: ", s.replace(" ","_"))

Enter a string:  Data Science Rocks!

Result:  Data_Science_Rocks!

In [38]:
#17. Check if a string starts with a specific word or phrase.

s = input("Enter a string: ")
w = input("Enter the word to be searched: ")

if s.startswith(w) == True:
    print(s,"starts with",w)
else:
    print(s,"does not starts with",w)

Enter a string:  Machine learning is a part of AI
Enter the word to be searched:  Machine learning

Machine learning is a part of AI starts with Machine learning

In [43]:
#18. Check if a string ends with a specific word or phrase.

s = input("Enter a string: ")
w = input("Enter the word to be searched: ")

if s.endswith(w) == True:
    print(s,"ends with",w)
else:
    print(s,"does not ends with",w)

Enter a string:  AI is the superset of ML
Enter the word to be searched:  ML

AI is the superset of ML ends with ML

In [44]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

s = input("Enter a string: ")
print("Title case string: ", s.title())

Enter a string:  hello world

Title case string:  Hello World

In [47]:
#20. Find the longest word in a string.

s = input("Enter a string:")
l = s.split()
print("Longest word: ", max(l,key=len))

Enter a string: hello how are u

Longest word:  hello

In [49]:
#21. Find the shortest word in a string.

s = input("Enter a string:")
l = s.split()
print("Shortest word: ", min(l,key=len))

Enter a string: how is the weather

Shortest word:  is

In [54]:
#22. Reverse the order of words in a string.

s = input("Enter a string: ")

r = s.split()[::-1]

print("String in reversed word order:"," ".join(r))

Enter a string:  deep learning is a part of AI

String in reversed word order: AI of part a is learning deep

In [57]:
#23. Check if a string is alphanumeric.

s = input("Enter a string: ")
if s.isalnum() == True:
    print("String is alphanumeric")
else:
    print('String is not alphanumeric')

Enter a string:  bikash8899

String is alphanumeric

In [66]:
#24. Extract all digits from a string.

s=input("Enter a string: ")
n=str()
for i in s:
    if i.isnumeric() == True:
        n=n+i
print("Extracted digits from the string: ",n)

Enter a string:  bikash123@rediffmail.com

Extracted digits from the string:  123

In [69]:
#25. Extract all alphabets from a string.

s=input("Enter a string: ")
a=str()
for i in s:
    if i.isalpha() == True:
        a=a+i
print("Extracted alphabets from the string: ",a)

Enter a string:  bikash.123@gmail.com

Extracted alphabets from the string:  bikashgmailcom

In [2]:
#26. Count the number of uppercase letters in a string.

s=input("Enter a string: ")
ctr=0
for i in s:
    if i.isupper() == True:
        ctr+=1
print("Number of uppercase letters: ",ctr)

Enter a string:  Bikash Chandra Prusty

Number of uppercase letters:  3

In [3]:
#27. Count the number of lowercase letters in a string.

s=input("Enter a string: ")
ctr=0
for i in s:
    if i.islower() == True:
        ctr+=1
print("Number of uppercase letters: ",ctr)

Enter a string:  Bikash Prusty

Number of uppercase letters:  10

In [25]:
#28. Swap the case of each character in a string.

s = input("Enter a string: ")
print("Swaped case string: ", s.swapcase())

Enter a string:  Bikash Prusty

Swaped case string:  bIKASH pRUSTY

In [29]:
#29. Remove a specific word from a string.

s = input("Enter a string: ")
w = input("Enter word to be removed: ")
print("Result: ",s.replace(w,""))

Enter a string:  Bikash is a data scientist
Enter word to be removed:  data

Result:  Bikash is a  scientist

In [31]:
#30. Check if a string is a valid email address.

import re 

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False


email = input("Enter an email-id: ")
result = is_valid_email(email)

if result == True:
    print("Valid emailid")
else:
    print("Invalid email-id")

Enter an email-id:  bikash.prusty

Invalid email-id

In [33]:
#31. Extract the username from an email address string.

email = input("Enter an email-id: ")
print("Username: ", email.split("@")[0])

Enter an email-id:  bikash.prusty@gmail.com

Username:  bikash.prusty

In [34]:
#32. Extract the domain name from an email address string.

email = input("Enter an email-id: ")
print("Domain Name: ", email.split("@")[1])

Enter an email-id:  bikash.prusty@rediffmail.com

Domain Name:  rediffmail.com

In [40]:
#33. Replace multiple spaces in a string with a single space.

s = input("Enter a string: ")
print(' '.join(s.split()))

Enter a string:  Hello   World!

Hello World!

In [47]:
#34. Check if a string is a valid URL.

#!pip install validators

import validators

web = input("Enter URL: ")

validation = validators.url(web)
if validation:
    print("URL is valid")
else:
    print("URL is invalid")

Enter URL:  https://gray-pilot-gdauu.pwskills.app/lab/tree/work/20th_Aug_Python_Basic_Datatypes.ipynb

URL is valid

In [48]:
#35. Extract the protocol (http or https) from a URL string.

web = input("Enter URL: ")
print("Protocol: ",web.split("://")[0])

Enter URL:  ftp://microsoft.com

Protocol:  ftp

In [50]:
#36. Find the frequency of each character in a string.

s = input("Enter a string: ")
dict = {}
for i in s:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
 
print(dict)

Enter a string:  bikash

{'b': 1, 'i': 1, 'k': 1, 'a': 1, 's': 1, 'h': 1}

In [59]:
#37. Remove all punctuation from a string.

import string

s = input("Enter a string: ")

punc = string.punctuation

for s1 in s:
    if s1 in punc:
        s=s.replace(s1,"")
    else:
        continue
print(s)

Enter a string:  Bikash@123. Hello World!

Bikash123 Hello World

In [62]:
#38. Check if a string contains only digits.

s = input("Enter a string: ")
if s.isnumeric() == True:
    print(s,"contains only digits")
else:
      print(s,"does not contain only digits")

Enter a string:  Bikash8978

Bikash8978 does not contain only digits

In [64]:
#39. Check if a string contains only alphabets.

s = input("Enter a string: ")
if s.isalpha() == True:
    print(s,"contains only alphabets")
else:
      print(s,"does not contain only alphabets")

Enter a string:  bikash

bikash contains only alphabets

In [67]:
#40. Convert a string to a list of characters.

s = input("Enter a string: ")
lst = []
for c in s:
    lst.append(c)
print(lst)

Enter a string:  bikash

['b', 'i', 'k', 'a', 's', 'h']

In [73]:
#41. Check if two strings are anagrams.

s1 = input('Enter first string: ')
s2 = input('Enter second string: ')

if sorted(s1) == sorted(s2):
    print("Strings are anagrams")
else:
    print("Strings are not anagrams")

Enter first string:  silent
Enter second string:  listen

Strings are anagrams

In [23]:
#42. Encode a string using a Caesar cipher.

s = input("Enter a string: ")
sft = int(input("Enter shift: "))

encoded_text = ""

for c in s:
    if c.isalpha() is True:
        if c.isupper():
            encoded_char = chr((ord(c) - sft - ord('A')) % 26 + ord('A'))
        elif c.islower():
            encoded_char = chr((ord(c) - sft - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = c
    encoded_text+=encoded_char

print("Caser Cipher: ",encoded_text)

Enter a string:  PWSkills
Enter shift:  3

Caser Cipher:  MTPhfiip

In [25]:
#43. Decode a Caesar cipher encoded string.

s = input("Enter Caser Cipher: ")
sft = int(input("Enter shift: "))

encoded_text = ""

for c in s:
    if c.isalpha() is True:
        if c.isupper():
            encoded_char = chr((ord(c) + sft - ord('A')) % 26 + ord('A'))
        elif c.islower():
            encoded_char = chr((ord(c) + sft - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = c
    encoded_text+=encoded_char

print("Decoded Caser Cipher: ",encoded_text)

Enter Caser Cipher:  MTPhfiip
Enter shift:  3

Decoded Caser Cipher:  PWSkills

In [8]:
#44. Find the most frequent word in a string.

from collections import Counter

s=input("Enter a string: ")
words = s.split()
word_counter = Counter(words)
most_common_word = word_counter.most_common(1)[0][0]
print("Most frequent word: ",most_common_word)

Enter a string:  hi hi how hi how are you

Most frequent word:  hi

In [12]:
#45. Find all unique words in a string.

s = input("Enter a string")
print("List of unique words: ", set(s.split()))

Enter a string hello hello how are you you

List of unique words:  {'how', 'you', 'are', 'hello'}

In [21]:
#46. Count the number of syllables in a string.

s = input("Enter a string: ")
lst = s.split()
vowels = "aeiouAEIOU"
for l in lst:
    ctr=0
    for v in vowels:
        ctr=ctr+l.count(v)
    print(l,"has",ctr,"syllables")

Enter a string:  bikash chandra prusty

bikash has 2 syllables
chandra has 2 syllables
prusty has 1 syllables

In [27]:
#47. Check if a string contains any special characters.

s = input("Enter a string: ")
if s.isalpha() or s.isnumeric() or s.find(' ')!=-1:
    print("String does not contain any special characters")
else:
    print("String contains special characters")

Enter a string:  bikash chandra prusty

String does not contain any special characters

In [37]:
#48. Remove the nth word from a string.

s = input("Enter a string: ")
n = int(input("Enter the postion of word to be deleted: "))

lst = s.split()
for l in lst:
    if lst.index(l)+1 == n:
        lst.remove(l)

nstr = ""
for l in lst:
    nstr=nstr+l+' '

print("Result: ",nstr)

Enter a string:  bikash is an an aspiring person
Enter the postion of word to be deleted:  3

Result:  bikash is an aspiring person

In [38]:
#49. Insert a word at the nth position in a string.

s = input("Enter a string: ")
w = input("Enter word to be inserted: ")
n = int(input("Enter the postion of word to be inserted: "))

lst = s.split()
lst.insert(n-1,w)

nstr = ""
for l in lst:
    nstr=nstr+l+' '

print("Result: ",nstr)

Enter a string:  hello are you?
Enter word to be inserted:  how
Enter the postion of word to be inserted:  2

Result:  hello how are you?

In [54]:
#50. Convert a CSV string to a list of lists.

s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = s.split("\n")

lst = []
for line in lines:
  field = line.split(",")
  lst.append(field)

for row in lst:
  print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

#### List Based Practice Problem

In [11]:
#1. Create a list with integers from 1 to 10.

lst=[]
for i in range(1,11):
    lst.append(i)
print("Result: ",lst)

Result:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
#2. Find the length of a list without using the `len()` function.

l=[1,2,3,4,5,6,10]
print("List: ",l)
print("Length: ",len(l))

List:  [1, 2, 3, 4, 5, 6, 10]
Length:  7

In [13]:
#3. Append an element to the end of a list.

l=[1,2,3,4,5,6,7,8]
ele = 9
print("List: ",l)
print("Element to be appended: ", ele)
l.append(ele)
print("Result: ",l)

List:  [1, 2, 3, 4, 5, 6, 7, 8]
Element to be appended:  9
Result:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
#4. Insert an element at a specific index in a list.

l=[1,2,3,4,5,6,7,8]
ele = 9
pos=2
print("List: ",l)
print("Element to be inserted: ",ele,"at position: ",pos)
l.insert(pos-1,ele)
print("Result: ",l)

List:  [1, 2, 3, 4, 5, 6, 7, 8]
Element to be inserted:  9 at position:  2
Result:  [1, 9, 2, 3, 4, 5, 6, 7, 8]

In [18]:
#5. Remove an element from a list by its value.

l=[1,2,3,45,6]
re = 3
print("List: ",l)
print("Element to be removed: ",re)
l.remove(re)
print("Result: ",l)

List:  [1, 2, 3, 45, 6]
Element to be removed:  3
Result:  [1, 2, 45, 6]

In [19]:
#6. Remove an element from a list by its index.

l=[1,2,3,45,6]
idx = 3
print("List: ",l)
print("Index of element to be removed: ",idx)
l.pop(idx)
print("Result: ",l)

List:  [1, 2, 3, 45, 6]
Index of element to be removed:  3
Result:  [1, 2, 3, 6]

In [23]:
#7. Check if an element exists in a list.

l=[1,2,3,45,6]
print("List: ",l)
ele = int(input("Enter element to be checked for existence: "))

if ele in l:
    print(ele,"exists in",l)
else:
    print(ele,"does not esists in",l)

List:  [1, 2, 3, 45, 6]

Enter element to be checked for existence:  99

99 does not esists in [1, 2, 3, 45, 6]

In [29]:
#8. Find the index of the first occurrence of an element in a list.

l=[1,2,2,3,45,6]
print("List: ",l)
ele = 2
print("Index of first occurance of",ele,"in",l,": ",l.index(ele))

List:  [1, 2, 2, 3, 45, 6]
Index of first occurance of 2 in [1, 2, 2, 3, 45, 6] :  1

In [31]:
#9. Count the occurrences of an element in a list.

l=[1,2,2,3,45,6]
print("List: ",l)
ele = 2
print("Index of first occurance of",ele,"in",l,": ",l.index(ele))

List:  [1, 2, 2, 3, 45, 6]
Index of first occurance of 2 in [1, 2, 2, 3, 45, 6] :  1

In [32]:
#10. Reverse the order of elements in a list.

l=[1,2,2,3,45,6]
print("List: ",l)
print("List in reverse ",l[::-1])

List:  [1, 2, 2, 3, 45, 6]
List in reverse  [6, 45, 3, 2, 2, 1]

In [18]:
#11. Sort a list in ascending order.

lst = [1,2,3,4,66,0,-34]
print("List: ",lst)
lst.sort()
print("Sorted List: ",lst)

List:  [1, 2, 3, 4, 66, 0, -34]
Sorted List:  [-34, 0, 1, 2, 3, 4, 66]

In [1]:
#12. Sort a list in descending order.

lst = [1,2,3,4,66,0,-34]
print("List: ",lst)
lst.sort(reverse=True)
print("Sorted List in descending order: ",lst)

List:  [1, 2, 3, 4, 66, 0, -34]
Sorted List in descending order:  [66, 4, 3, 2, 1, 0, -34]

In [6]:
#13. Create a list of even numbers from 1 to 20.

lst = []
for i in range(2,21,2):
    lst.append(i)
    
print("List of even numbers from 1 to 20: ",lst)

List of even numbers from 1 to 20:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
#14. Create a list of odd numbers from 1 to 20.

lst = []
for i in range(1,21,2):
    lst.append(i)
    
print("List of odd numbers from 1 to 20: ",lst)

List of odd numbers from 1 to 20:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
#15. Find the sum of all elements in a list.

lst = [1,2,34,5,3,5,5]
s=0
for x in range(0,len(lst)):
    s+=lst[x]
print("Sum of all elements in",lst,"is: ",s)

Sum of all elements in [1, 2, 34, 5, 3, 5, 5] is:  55

In [19]:
#16. Find the maximum value in a list.

lst = [1,2,-34, 5, 99]
print("Maximum value present in",lst,"is",max(lst))

Maximum value present in [1, 2, -34, 5, 99] is 99

In [22]:
#17. Find the maximum value in a list.

lst = [1,2,-34, 5, 99]
print("Minimum value present in",lst,"is",min(lst))

Minimum value present in [1, 2, -34, 5, 99] is -34

In [21]:
#18. Create a list of squares of numbers from 1 to 10.

lst=[]
for i in range(1,11):
    lst.append(i*i)
print("List of squares of numbers from 1 to 10: ",lst)

List of squares of numbers from 1 to 10:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
#19. Create a list of random numbers.

import random
lst = []
for i in range(10):
    lst.append(random.randint(1,100))
print("List of 10 between 1 to 100 random numbers: ", lst)

List of 10 between 1 to 100 random numbers:  [57, 61, 95, 27, 19, 55, 75, 19, 29, 28]

In [38]:
#20. Remove duplicates from a list.

lst = [1,2,3,1,3,3,5,6,5,7,5]
print("Original List: ",lst)
print("List after removing duplicates: ",list(set(lst)))

Original List:  [1, 2, 3, 1, 3, 3, 5, 6, 5, 7, 5]
List after removing duplicates:  [1, 2, 3, 5, 6, 7]

In [49]:
#21. Find the common elements between two lists.

a=[2,9,4,5]
b=[3,5,7,2]
print("Common elements between",a,"and",b,"are",list(set(a).intersection(b)))

Common elements between [2, 9, 4, 5] and [3, 5, 7, 2] are [2, 5]

In [51]:
#22. Find the difference between two lists.

a=[2,9,4,5]
b=[3,5,7,2]
print("Difference between",a,"and",b,"are",list(set(a).difference(b)))

Difference between [2, 9, 4, 5] and [3, 5, 7, 2] are [4, 9]

In [52]:
#23. Merge two lists.

a=[2,9,4,5]
b=[3,5,7,2]
print("List1: ",a)
print("List2: ",b)
print("Merged list: ",a+b)

List1:  [2, 9, 4, 5]
List2:  [3, 5, 7, 2]
Merged list:  [2, 9, 4, 5, 3, 5, 7, 2]

In [56]:
#24. Multiply all elements in a list by 2.

lst = [1,2,5,7,9]
nlst=[]
for i in range(len(lst)):
    nlst.append(lst[i]*2)

print("List: ",lst)
print("Elements of list multiplied by 2: ", nlst)

List:  [1, 2, 5, 7, 9]
Elements of list multiplied by 2:  [2, 4, 10, 14, 18]

In [ ]:
#25. Filter out all even numbers from a list.

lst = [1,2,5,7,9]
nlst=[]
for i in range(len(lst)):
    if (lst[i]%2==0)
    nlst.append(lst[i]*2)

print("List: ",lst)
print("Elements of list multiplied by 2: ", nlst)

In [1]:
#26. Convert a list of strings to a list of integers.

lst = ['10', '23', '55', '90', '78']
print("List of strings: ", lst)
nlst=[]
for i in range(len(lst)):
    nlst.append(int(lst[i]))
print("List of in integers: ", nlst)

List of strings:  ['10', '23', '55', '90', '78']
List of in integers:  [10, 23, 55, 90, 78]

In [2]:
#27. Convert a list of integers to a list of strings.

lst = [10,12,44,33,99]
print("List of integers: ", lst)
nlst=[]
for i in range(len(lst)):
    nlst.append(str(lst[i]))
print("List of in integers: ", nlst)

List of integers:  [10, 12, 44, 33, 99]
List of in integers:  ['10', '12', '44', '33', '99']

In [23]:
#28. Flatten a nested list.

lst = [[1], [2, 3], [4, 5, 6, 7]]
print("Nested List: ", lst)
nlst = []
for i in lst:
    nlst.extend(i)
print("Flatten List: ",nlst)

Nested List:  [[1], [2, 3], [4, 5, 6, 7]]
Flatten List:  [1, 2, 3, 4, 5, 6, 7]

In [34]:
#29. Create a list of the first 10 Fibonacci numbers.

n=int(input('Enter the count of fibonacci series: '))
flst = []
if n<=0:
    print("Invalid input!. Please enter a valid positive number.")
elif n==1:
    flst.append(0)
    print(flst)
else:
    flst = [0,1]
    for i in range(2, n):
        next_ele = flst[i-1]+flst[i-2]
        flst.append(next_ele)
    print(flst)

Enter the count of fibonacci series:  5

[0, 1, 1, 2, 3]

In [57]:
#30. Check if a list is sorted.

lst = [1,2,3,4,5]
print("List: ",lst)
clst = lst.copy()
lst.sort()
if clst == lst:
    print("List is sorted")
else:
    print("List is not sorted")

List:  [1, 2, 3, 4, 5]
List is sorted

In [6]:
#31. Rotate a list to the left by `n` positions.

l=[1,2,3,4,5,6]
print("Existing list: ", l)
n = int(input("Enter number of left positions to be rotated: "))
l = l[n:] + l[:n]
print("Rotated list by",n,"left positions: ",l)

Existing list:  [1, 2, 3, 4, 5, 6]

Enter number of left positions to be rotated:  3

Rotated list by 3 left positions:  [4, 5, 6, 1, 2, 3]

In [11]:
#32. Rotate a list to the right by `n` positions.

l=[1,2,3,4,5,6]
print("Existing list: ", l)
n = int(input("Enter number of right positions to be rotated: "))
pos = len(l)-n
l = l[pos:] + l[:pos]
print("Rotated list by",n,"right positions: ",l)

Existing list:  [1, 2, 3, 4, 5, 6]

Enter number of right positions to be rotated:  2

Rotated list by 2 right positions:  [5, 6, 1, 2, 3, 4]

In [7]:
#33. Create a list of prime numbers up to 50.

lst = []
ctr = 0
for i in range (1,51):
    f=1
    ctr=0
    while(f<=i):
        if (i%f==0):
            ctr+=1
        f+=1
    if(ctr==2):
        lst.append(i)
print("List of prime numbers upto 50: ",lst)

List of prime numbers upto 50:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [13]:
#34. Split a list into chunks of size `n`.

lst = [1,2,3,4,5,6,7,8,9]
print("List: ",lst)
n = int(input("Enter chunck size: "))
for i in range(0,len(lst), n):
    print(lst[i:i+n])

List:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

Enter chunck size:  3

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [19]:
#35. Find the second largest number in a list.

lst = [1,2,3,5,8,9,41]
print("List: ",lst)
lst.sort(reverse=True)
print("Second largest element: ", lst[1])

List:  [1, 2, 3, 5, 8, 9, 41]
Second largest element:  9

In [23]:
#36. Replace every element in a list with its square.

lst = [1,2,3,4,5]
print("List: ",lst)
nlst = []
for i in range(len(lst)):
    nlst.append(lst[i]**2)
print("Square of list: ", nlst)

List:  [1, 2, 3, 4, 5]
Square of list:  [1, 4, 9, 16, 25]

In [27]:
'''37. Convert a list to a dictionary where list elements become keys and their
indices become values.'''

lst = ['a','b','c','d','e']
print("List: ",lst)
dic = {}
for i in range(0,len(lst)):
    dic[lst[i]] = i
print("List-to-dictionary: ",dic)

List:  ['a', 'b', 'c', 'd', 'e']
List-to-dictionary:  {'a': 0, 'b': 1, 'c': 2, 'd': 3, 'e': 4}

In [29]:
#38. Shuffle the elements of a list randomly.

import random
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("List: ",lst)
random.shuffle(lst)
print("Shuffled list:", lst)

List:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Shuffled list: [7, 9, 10, 2, 3, 5, 1, 6, 4, 8]

In [11]:
#39. Create a list of the first 10 factorial numbers.

lst = []
for i in range(11):
    if i==0 or i==1:
        lst.append(1)
    else:
        f=1
        while(i>=1):
            f=f*i
            i-=1
        lst.append(f)
print("List of 10 factorial numbers (0-9): ",lst)

List of 10 factorial numbers (0-9):  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [23]:
#40. Check if two lists have at least one element in common.

a=[2,9,4,5]
b=[3,9,7,99]
print("List 1: ",a)
print("List 2: ",b)
count = len(list(set(a).intersection(b)))
if count >=1:
    print("Two lists have atleast one common element")
else:
    print("No common elements betweem two lists")

List 1:  [2, 9, 4, 5]
List 2:  [3, 9, 7, 99]
Two lists have atleast one common element

In [24]:
#41. Remove all elements from a list.

l = [1,2,3,4,5,6]
print("List Elements: ", l)
l.clear()
print("After removing all elements from list: ",l)

List Elements:  [1, 2, 3, 4, 5, 6]
After removing all elements from list:  []

In [26]:
#42. Replace negative numbers in a list with 0.

lst = [1,2,3,4,-3,6,7,-4,9,8,-4]
print("List: ",lst)
for i in range(0,len(lst)):
    if lst[i]<0:
        lst[i]=0
print("Replacing negative numbers in a list with 0: ",lst)

List:  [1, 2, 3, 4, -3, 6, 7, -4, 9, 8, -4]
Replacing negative numbers in a list with 0:  [1, 2, 3, 4, 0, 6, 7, 0, 9, 8, 0]

In [28]:
#43. Convert a string into a list of words.

s = input("Enter a string: ")
print("Entered string to list of words: ",s.split())

Enter a string:  Hello Learners! Welcome to PWSkills

Entered string to list of words:  ['Hello', 'Learners!', 'Welcome', 'to', 'PWSkills']

In [30]:
#44. Convert a list of words into a string.

list_words = ["Hello,", "this", "is", "a", "puzzle."]
print("List of words: ", list_words)
my_string = " ".join(list_words)
print("String: ", my_string)

List of words:  ['Hello,', 'this', 'is', 'a', 'puzzle.']
String:  Hello, this is a puzzle.

In [36]:
#45. Create a list of the first `n` powers of 2.

lst = []
n = int(input("Enter the value of n: "))
for i in range(1,n+1,1):
    r = 2**i
    lst.append(r) 
print("First ", n, "powers of 2 are: ",lst)

Enter the value of n:  5

First  5 powers of 2 are:  [2, 4, 8, 16, 32]

In [55]:
#46. Find the longest string in a list of strings.

s=["hello", "hi", "world", "longest"]
print("List of strings: ", s)
k = []
for i in s:
    k.append(len(i))
m=k.index(max(k))
print("Longest string: ",s[m])

List of strings:  ['hello', 'hi', 'world', 'longest']
Longest string:  longest

In [56]:
#47. Find the shortest string in a list of strings.

s=["hello", "hi", "world", "longest"]
print("List of strings: ", s)
k = []
for i in s:
    k.append(len(i))
m=k.index(min(k))
print("Longest string: ",s[m])

List of strings:  ['hello', 'hi', 'world', 'longest']
Longest string:  hi

In [59]:
#48. Create a list of the first `n` triangular numbers.

n = int(input("Enter the value of n: "))
lst=[]
for i in range(1,n+1,1):
    r=(i*(i+1))//2
    lst.append(r)
print("List of first", n, "triangular numbers: ",lst)

Enter the value of n:  5

List of first 5 triangular numbers:  [1, 3, 6, 10, 15]

In [62]:
#49. Check if a list contains another list as a subsequence.

l = [9, 4, 5, 8, 10]
s = [10, 5]
if set(s).issubset(set(l)):
    print(l,"contains", s, "as a subsequence")
else:
    print(l,"does not contain", s, "as a subsequence")

[9, 4, 5, 8, 10] contains [10, 5] as a subsequence

In [68]:
#50. Swap two elements in a list by their indices.

lst = [1,2,3,4,5,6]
print("List: ",lst)
index1 = int(input("Enter first index to be swapped: "))
index2 = int(input("Enter second index to be swapped: "))

temp = lst[index1]
lst[index1]=lst[index2]
lst[index2]=temp

print("After swapping", index1, "and", index2,"indices : ",lst)

List:  [1, 2, 3, 4, 5, 6]

Enter first index to be swapped:  1
Enter second index to be swapped:  3

After swapping 1 and 3 indices :  [1, 4, 3, 2, 5, 6]

#### Tuple Based Practice Problem :

In [3]:
#1. Create a tuple with integers from 1 to 5.

t = (1,2,3,4,5)
print("Tuple with integers from 1 to 5: ",t)

Tuple with integers from 1 to 5:  (1, 2, 3, 4, 5)

In [4]:
#2. Access the third element of a tuple.

t = (1,2,3,4,5,6,7)
print("Tuple: ",t)
print("Third element of tuple: ",t[2])

Tuple:  (1, 2, 3, 4, 5, 6, 7)
Third element of tuple:  3

In [6]:
#3. Find the length of a tuple without using the `len()` function.

t = (1,3,5,6,8,9)
ctr = 0
for i in t:
    ctr+=1
print("Length of",t,"is: ",ctr)

Length of (1, 3, 5, 6, 8, 9) is:  6

In [10]:
#4. Count the occurrences of an element in a tuple.

t = (1,2,3,5,5,6,6,6,7,9)
print("Tuple: ",t)
ele = int(input("Enter occurance of element you want from the tuple: "))
ctr = 0
for i in range(len(t)):
    if t[i] == ele:
        ctr+=1
print("Occurance of",ele,"in",t,"is: ",ctr)

Tuple:  (1, 2, 3, 5, 5, 6, 6, 6, 7, 9)

Enter occurance of element you want from the tuple:  6

Occurance of 6 in (1, 2, 3, 5, 5, 6, 6, 6, 7, 9) is:  3

In [12]:
#5. Find the index of the first occurrence of an element in a tuple.

t = (1,2,2,3,5)
print("Tuple: ",t)
ele = int(input("Enter element whose index of first occurance is required from the tuple: "))
print("Index of first occurance of",ele,"in",t,"is",t.index(ele))

Tuple:  (1, 2, 2, 3, 5)

Enter element whose index of first occurance is required from the tuple:  2

Index of first occurance of 2 in (1, 2, 2, 3, 5) is 1

In [15]:
#6. Check if an element exists in a tuple.

t = (1,2,3,4,5)
print("Tuple: ",t)
ele = int(input("Enter element whose existence needs to be checked: "))
if ele in t:
    print(ele,"exists in",t)
else:
     print(ele,"does not exists in",t)

Tuple:  (1, 2, 3, 4, 5)

Enter element whose existence needs to be checked:  55

55 does not exists in (1, 2, 3, 4, 5)

In [16]:
#7. Convert a tuple to a list.

t = (0,2,4,5,5)
print("Tuple: ",t)
print("Tuple to list: ", list(t))

Tuple:  (0, 2, 4, 5, 5)
Tuple to list:  [0, 2, 4, 5, 5]

In [18]:
#8. Convert a list to a tuple.

l = [1,2,3,5,0,56]
print("List: ",l)
print("List to tuple: ", tuple(l))

List:  [1, 2, 3, 5, 0, 56]
List to tuple:  (1, 2, 3, 5, 0, 56)

In [20]:
#9. Unpack the elements of a tuple into variables.

t = (1,2,3)
a,b,c = t
print("Variable 1: ",a)
print("Variable 2: ",b)
print("Variable 3: ",c)

Variable 1:  1
Variable 2:  2
Variable 3:  3

In [24]:
#10. Create a tuple of even numbers from 1 to 10.

l = []
for i in range(2,11,2):
    l.append(i)
print("Tuple of even numbers from 1 to 10: ",tuple(l))

Tuple of even numbers from 1 to 10:  (2, 4, 6, 8, 10)

In [25]:
#11. Create a tuple of odd numbers from 1 to 10.

l = []
for i in range(1,11,2):
    l.append(i)
print("Tuple of odd numbers from 1 to 10: ",tuple(l))

Tuple of odd numbers from 1 to 10:  (1, 3, 5, 7, 9)

In [26]:
#12. Concatenate two tuples.

t1 = (1,2,3)
t2 = (4,5,6)

print("Tuple 1: ",t1)
print("Tuple 2:",t2)
print("Concatinated Tuple: ",t1+t2)

Tuple 1:  (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatinated Tuple:  (1, 2, 3, 4, 5, 6)

In [27]:
#13. Repeat a tuple three times.

t = (1,2,3)
print(t,"repeated thrice: ",t*3)

(1, 2, 3) repeated thrice:  (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [33]:
#14. Check if a tuple is empty.

t = (1,2,3)
print("Tuple: ",t)
if t:
    print("Tuple is non-empty")
else:
    print("Tuple is empty")

Tuple:  (1, 2, 3)
Tuple is non-empty

In [36]:
#15. Create a nested tuple.

t = (1,2,3,('a','b'),(1+3j,4+9j))
print("Nested Tuple: ",t)

Nested Tuple:  (1, 2, 3, ('a', 'b'), ((1+3j), (4+9j)))

In [37]:
#16. Access the first element of a nested tuple.

t = (1,2,3,('a','b'),(1+3j,4+9j))
print("First element of",t,"is: ",t[0])

First element of (1, 2, 3, ('a', 'b'), ((1+3j), (4+9j))) is:  1

In [40]:
#17. Create a tuple with a single element.

t=(1,)
print("Tuple with single element: ",t)

Tuple with single element:  (1,)

In [45]:
#18. Compare two tuples.

t1 = (1,2,3)
t2 = (2,3,4)

print("First tuple: ",t1)
print("Second tuple: ",t2)

print("------Comparing two tuples---------------------")

print("Tuple1 == Tuple2: ",t1==t2)
print("Tuple1 != Tuple2: ",t1!=t2)
print("Tuple1 < Tuple2: ",t1<t2)
print("Tuple1 > Tuple2: ",t1>t2)
print("Tuple1 <= Tuple2: ",t1<=t2)
print("Tuple1 >= Tuple2: ",t1>=t2)

First tuple:  (1, 2, 3)
Second tuple:  (2, 3, 4)
------Comparing two tuples---------------------
Tuple1 == Tuple2:  False
Tuple1 != Tuple2:  True
Tuple1 < Tuple2:  True
Tuple1 > Tuple2:  False
Tuple1 <= Tuple2:  True
Tuple1 >= Tuple2:  False

In [47]:
#19. Delete a tuple.

t = (1,2,3)
print("Tuple: ",t)
del t
print("Tuple after deletion: ",t)

Tuple:  (1, 2, 3)

NameError: name 't' is not defined

In [48]:
#20. Slice a tuple.

t=(1,2,3,4,5,6,7,8)
print("Tuple: ",t)
print("Slicing tuple from 3:6 elements: ",t[2:6])

Tuple:  (1, 2, 3, 4, 5, 6, 7, 8)
Slicing tuple from 3:6 elements:  (3, 4, 5, 6)

In [49]:
#21. Find the maximum value in a tuple.

t = (1,2,5,77,8,0,65)
print("Maximum element in",t,"is: ",max(t))

Maximum element in (1, 2, 5, 77, 8, 0, 65) is:  77

In [50]:
#22. Find the minimum value in a tuple.

t = (1,2,5,77,8,0,65)
print("Minimum element in",t,"is: ",min(t))

Minimum element in (1, 2, 5, 77, 8, 0, 65) is:  0

In [51]:
#23. Convert a string to a tuple of characters.

s = "Hello World!"
print(s,"to tuple of characters: ", tuple(s))

Hello World! to tuple of characters:  ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [52]:
#24. Convert a tuple of characters to a string.

c = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')
s = ''.join(c)
print("Tuple of characters to string: ",s)

Tuple of characters to string:  Hello World!

In [53]:
#25. Create a tuple from multiple data types.

t = (1,2.4,'string',True)
print("Tuple from multiple data types",t)

Tuple from multiple data types (1, 2.4, 'string', True)

In [54]:
#26. Check if two tuples are identical.

t1 = (1,2,3)
t2 = (1,2,3)

print("Tuple 1:",t1)
print("Tuple 2:",t2)

if t1==t2:
    print("Tuples are identical")
else:
    print("Tuples are not identical")

Tuple 1: (1, 2, 3)
Tuple 2: (1, 2, 3)
Tuples are identical

In [61]:
#27. Sort the elements of a tuple.

t=(1,2,5,4,9)
print("Tuple: ",t)
print("Sorted tuple: ",tuple(sorted(t)))

Tuple:  (1, 2, 5, 4, 9)
Sorted tuple:  (1, 2, 4, 5, 9)

In [3]:
#28. Convert a tuple of integers to a tuple of strings.

t=(1,2,5,4,9)
print("Tuple of integers: ",t)
s=""
for i in t:
    s=s+str(i)
print("Tuple of strings: ",tuple(s))

Tuple of integers:  (1, 2, 5, 4, 9)
Tuple of strings:  ('1', '2', '5', '4', '9')

In [6]:
#29. Convert a tuple of strings to a tuple of integers.

t = ('1', '2', '5', '4', '9')
print("Tuple of strings: ",t)
l=[]
for i in t:
    l.append(int(i))
print("Tuple of integers: ",tuple(l))

Tuple of strings:  ('1', '2', '5', '4', '9')
Tuple of integers:  (1, 2, 5, 4, 9)

In [82]:
#30. Merge two tuples.

t1=(1,2,3)
t2=(4,5,6)

print("First tuple: ",t1)
print("Second tuple: ",t2)

print("Merged tuple: ",t1+t2)

First tuple:  (1, 2, 3)
Second tuple:  (4, 5, 6)
Merged tuple:  (1, 2, 3, 4, 5, 6)

In [15]:
#31. Flatten a nested tuple.

t = ((3,4,5),(7,8))
print("Nested Tuple: ",t)
l=[]
for i in t:
    l.extend(i)
print("Flattened Tuple: ",tuple(l))

Nested Tuple:  ((3, 4, 5), (7, 8))
Flattened Tuple:  (3, 4, 5, 7, 8)

In [6]:
#32. Create a tuple of the first 5 prime numbers.

lst = []
ctr = 0
n=int(input("Enter the number of prime numbers you want: "))
count=0
i=1
while count<n:
    f=1
    ctr=0
    while(f<=i):
        if (i%f==0):
            ctr+=1
        f+=1
    if(ctr==2):
        lst.append(i)
        count+=1
    i+=1
print("Tuple of first",n,"prime numbers: ",tuple(lst))

Enter the number of prime numbers you want:  5

Tuple of first 5 prime numbers:  (2, 3, 5, 7, 11)

In [10]:
#33. Check if a tuple is a palindrome.

t = (1,2,3,2,1)
print("Tuple: ",t)
rev = t[::-1]
if t==rev:
    print("Tuple is palindrome")
else:
    print("Tuple is not palindrome")

Tuple:  (1, 2, 3, 2, 1)
Tuple is palindrome

In [13]:
#34. Create a tuple of squares of numbers from 1 to 5.

t=()
for i in range(1,6,1):
    t=t+(i*i,)
print("Tuple of squares of numbers from 1 to 5:",t)

Tuple of squares of numbers from 1 to 5: (1, 4, 9, 16, 25)

In [15]:
#35. Filter out all even numbers from a tuple.

t = (1,2,3,4,5,6,7,8,9,0)
et = ()
print("Tuple: ",t)
for i in t:
    if i%2==0:
        et = et + (i,)
print("Even numbers from tuple: ",et)

Tuple:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 0)
Even numbers from tuple:  (2, 4, 6, 8, 0)

In [18]:
#36. Multiply all elements in a tuple by 2.

t = (2,3,4,5)
nt = ()
print("Tuple: ", t)
for i in t:
    nt=nt+(i*2,)
print("Elements of tuple multiplied by 2: ", nt)

Tuple:  (2, 3, 4, 5)
Elements of tuple multiplied by 2:  (4, 6, 8, 10)

In [24]:
#37. Create a tuple of random numbers.

import random
t=()
for i in range(10):
    t = t + (random.randint(1,100),)
print("Tuple of random numbers: ",t)

Tuple of random numbers:  (44, 31, 84, 76, 32, 91, 61, 20, 43, 40)

In [28]:
#38. Check if a tuple is sorted.

t = (1,2,3,4,-1)
print("Tuple: ",t)
if t == tuple(sorted(t)):
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple:  (1, 2, 3, 4, -1)
Tuple is not sorted

In [34]:
#39. Rotate a tuple to the left by `n` positions.

t = (1,2,3,4,5)
print("Tuple: ",t)
n=int(input("Enter the number of left rotations: "))
t = t[n:] + t[:n]
print("Tuple rotated by",n,"positions left: ",t)

Tuple:  (1, 2, 3, 4, 5)

Enter the number of left rotations:  2

Tuple rotated by 2 positions left:  (3, 4, 5, 1, 2)

In [38]:
#40. Rotate a tuple to the right by `n` positions.

t = (1,2,3,4,5)
print("Tuple: ",t)
n=int(input("Enter the number of right rotations: "))
t = t[n+1:] + t[:n+1]
print("Tuple rotated by",n,"positions right: ",t)

Tuple:  (1, 2, 3, 4, 5)

Enter the number of right rotations:  2

Tuple rotated by 2 positions right:  (4, 5, 1, 2, 3)

In [12]:
#41. Create a tuple of the first 5 Fibonacci numbers.

n=int(input('Enter the count of fibonacci series: '))
flst = []
if n<=0:
    print("Invalid input!. Please enter a valid positive number.")
elif n==1:
    flst.append(0)
    print(tuple(flst))
else:
    flst = [0,1]
    for i in range(2, n):
        next_ele = flst[i-1]+flst[i-2]
        flst.append(next_ele)
    print(tuple(flst))

Enter the count of fibonacci series:  5

(0, 1, 1, 2, 3)

In [41]:
#42. Create a tuple from user input.

s = input("Enter your input, separated by comma(,): ")
l=s.split(',')
print("Tuple from user input: ",tuple(l))

Enter your input, separated by comma(,):  a,s,d,f

Tuple from user input:  ('a', 's', 'd', 'f')

In [1]:
#43. Swap two elements in a tuple.

t = (1,2,3,4,5,6)
print("Tuple: ",t)
index1 = int(input("Enter first index to be swapped: "))
index2 = int(input("Enter second index to be swapped: "))

lst = list(t)
temp = lst[index1]
lst[index1]=lst[index2]
lst[index2]=temp

print("After swapping", index1, "and", index2,"indices : ",tuple(lst))

Tuple:  (1, 2, 3, 4, 5, 6)

Enter first index to be swapped:  2
Enter second index to be swapped:  3

After swapping 2 and 3 indices :  (1, 2, 4, 3, 5, 6)

In [2]:
#44. Reverse the elements of a tuple.

t=(1,2,3,4,5)
print("Tuple: ",t)
print("Reverse tuple: ",t[::-1])

Tuple:  (1, 2, 3, 4, 5)
Reverse tuple:  (5, 4, 3, 2, 1)

In [5]:
#45. Create a tuple of the first `n` powers of 2.

t=()
n = int(input("Enter the value of n: "))
for i in range(1,n+1,1):
    t=t+(2**i,)
print("Tuple of first",n,"powers of 2: ",t)

Enter the value of n:  5

Tuple of first 5 powers of 2:  (2, 4, 8, 16, 32)

In [8]:
#46. Find the longest string in a tuple of strings.

t=("hello","how","r","you!")
print("Tuple of strings: ",t)
print("Longest string:",max(t,key=len))

Tuple of strings:  ('hello', 'how', 'r', 'you!')
Longest string: hello

In [9]:
#47. Find the shortest string in a tuple of strings.

t=("hello","how","r","you!")
print("Tuple of strings: ",t)
print("Longest string:",min(t,key=len))

Tuple of strings:  ('hello', 'how', 'r', 'you!')
Longest string: r

In [10]:
#48. Create a tuple of the first `n` triangular numbers.

n = int(input("Enter value of n: "))
t=()
for i in range(1,n+1,1):
    t=t+(i*(i+1)//2,)
print("Tuple of first",n,"triangular numbers: ",t)

Enter value of n:  4

Tuple of first 4 triangular numbers:  (1, 3, 6, 10)

In [13]:
#49. Check if a tuple contains another tuple as a subsequence.

t = (9, 4, 5, 8, 10)
s = (10, 5)
if set(s).issubset(set(t)):
    print(t,"contains", s, "as a subsequence")
else:
    print(t,"does not contain", s, "as a subsequence")

(9, 4, 5, 8, 10) contains (10, 5) as a subsequence

In [14]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

n = int(input("Enter value of n: "))
t=()
for i in range(n):
    t=t+(i%2,)
print("Tuple of alternating 1s and 0s: ",t)

Enter value of n:  5

Tuple of alternating 1s and 0s:  (0, 1, 0, 1, 0)

#### Set Based Practice Problem :

In [5]:
#1. Create a set with integers from 1 to 5.

s = set()
for i in range(1,11):
    s.add(i)
print("Set with integers from 1 to 5: ", s)

Set with integers from 1 to 5:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
#2. Add an element to a set.

s={1,2,3,4}
print("Set: ",s)
ele = int(input("Enter element to be added: "))
s.add(ele)
print("Set after adding",ele,":",s)

Set:  {1, 2, 3, 4}

Enter element to be added:  99

Set after adding 99 : {1, 2, 99, 3, 4}

In [8]:
#3. Remove an element from a set.

s = {1,2,3,4,5}
print("Set: ",s)
ele = int(input("Enter element to be removed from set: "))
s.remove(ele)
print("Set after removing",ele,"from it: ",s)

Set:  {1, 2, 3, 4, 5}

Enter element to be removed from set:  4

Set after removing 4 from it:  {1, 2, 3, 5}

In [11]:
#4. Check if an element exists in a set.

s = {1,2,3,4,5}
print("Set: ",s)
ele = int(input("Enter element to be checked for existence in the set: "))
if ele in s:
    print(ele,"exists in",s)
else:
     print(ele,"does not exists in",s)

Set:  {1, 2, 3, 4, 5}

Enter element to be checked for existence in the set:  34

34 does not exists in {1, 2, 3, 4, 5}

In [12]:
#5. Find the length of a set without using the `len()` function.

s = {1,2,3,4,5}
ctr = 0
for i in s:
    ctr+=1
print("Length of",s,"is: ",ctr)

Length of {1, 2, 3, 4, 5} is:  5

In [15]:
#6. Clear all elements from a set.

s = {0,9,8,7}
print("Set: ",s)
s.clear()
print("Removing all elements from set:",s)

Set:  {0, 9, 8, 7}
Removing all elements from set: set()

In [16]:
#7. Create a set of even numbers from 1 to 10.

s = set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print("Set of even numbers from 1 to 10: ",s)

Set of even numbers from 1 to 10:  {2, 4, 6, 8, 10}

In [17]:
#8. Create a set of odd numbers from 1 to 10.

s = set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print("Set of odd numbers from 1 to 10: ",s)

Set of odd numbers from 1 to 10:  {1, 3, 5, 7, 9}

In [20]:
#9. Find the union of two sets.

s1={1,2,3,4}
s2={5,6,7,8,9}
print("Set 1: ",s1)
print("Set 2: ",s2)
print("Union of two sets: ",s1.union(s2))

Set 1:  {1, 2, 3, 4}
Set 2:  {5, 6, 7, 8, 9}
Union of two sets:  {1, 2, 3, 4, 5, 6, 7, 8, 9}

In [22]:
#10. Find the intersection of two sets.


s1={1,2,3,4}
s2={3,1,7,8,9}
print("Set 1: ",s1)
print("Set 2: ",s2)
print("Intersection of two sets: ",s1.intersection(s2))

Set 1:  {1, 2, 3, 4}
Set 2:  {1, 3, 7, 8, 9}
Intersection of two sets:  {1, 3}

In [23]:
#11. Find the difference between two sets.

s1={1,2,3,4}
s2={3,1,7,8,9}
print("Set 1: ",s1)
print("Set 2: ",s2)
print("Difference of two sets: ",s1.difference(s2))

Set 1:  {1, 2, 3, 4}
Set 2:  {1, 3, 7, 8, 9}
Difference of two sets:  {2, 4}

In [25]:
#12. Check if a set is a subset of another set.

s1 = {1,2,3}
s2 = {1,2,3,4,5,6}
if s1.issubset(s2):
    print(s1,"is subset of",s2)
else:
    print(s1,"is not a subset of",s2)

{1, 2, 3} is subset of {1, 2, 3, 4, 5, 6}

In [26]:
#13. Check if a set is a superset of another set.

s1 = {1,2,3}
s2 = {1,2,3,4,5,6}
if s2.issuperset(s1):
    print(s2,"is superset of",s1)
else:
    print(s2,"is not a superset of",s1)

{1, 2, 3, 4, 5, 6} is superset of {1, 2, 3}

In [27]:
#14. Create a set from a list.

l = [1,2,3,4,1,4]
print("List: ",l)
print("Set from list: ",set(l))

List:  [1, 2, 3, 4, 1, 4]
Set from list:  {1, 2, 3, 4}

In [28]:
#15. Convert a set to a list.

s={1,2,3,4,5}
print("Set: ",s)
print("Set to list: ",list(s))

Set:  {1, 2, 3, 4, 5}
Set to list:  [1, 2, 3, 4, 5]

In [5]:
#16. Remove a random element from a set.

s = {1,2,3,4,5}
print("Set: ", s)
s.pop()
print("Set after removing a random element: ",s)

Set:  {1, 2, 3, 4, 5}
Set after removing a random element:  {2, 3, 4, 5}

In [6]:
#17. Pop an element from a set.

s = {1,2,3,4,5}
print("Set: ", s)
s.pop()
print("Set after poping an element: ",s)

Set:  {1, 2, 3, 4, 5}
Set after poping an element:  {2, 3, 4, 5}

In [18]:
#18. Check if two sets have no elements in common.

s1 = {1,2,3,4}
s2 = {5,6,7,4}
if s1.intersection(s2):
    print(s1,"and",s2,"have elements in common")
else:
    print(s1,"and",s2,"have no elements in common")

{1, 2, 3, 4} and {4, 5, 6, 7} have elements in common

In [20]:
#19. Find the symmetric difference between two sets.

s1 = {1,2,3,4,5}
s2 = {3,4,5,6,7}
print("Symmetric differnce between",s1,"and",s2,"is: ",s1^s2)

Symmetric differnce between {1, 2, 3, 4, 5} and {3, 4, 5, 6, 7} is:  {1, 2, 6, 7}

In [22]:
#20. Update a set with elements from another set.

s1 = {1,2,3}
s2 = {3,4,5}
s1.update(s2)
print("Updating",s1,"with",s2,": ",s1)

Updating {1, 2, 3, 4, 5} with {3, 4, 5} :  {1, 2, 3, 4, 5}

In [23]:
#21. Create a set of the first 5 prime numbers.

s = set()
ctr = 0
n=int(input("Enter the number of prime numbers you want: "))
count=0
i=1
while count<n:
    f=1
    ctr=0
    while(f<=i):
        if (i%f==0):
            ctr+=1
        f+=1
    if(ctr==2):
        s.add(i)
        count+=1
    i+=1
print("Set of first",n,"prime numbers: ",s)

Enter the number of prime numbers you want:  5

Set of first 5 prime numbers:  {2, 3, 5, 7, 11}

In [26]:
#22. Check if two sets are identical.

s1 = {1,2,3,4}
s2 = {1,2,0,4}

print("Set 1: ",s1)
print("Set 2:",s2)

if s1 == s2:
    print("Sets are identical")
else:
    print("Sets are not identical")

Set 1:  {1, 2, 3, 4}
Set 2: {0, 1, 2, 4}
Sets are not identical

In [2]:
#23. Create a frozen set.

s={1,2,3,4}
print("Set: ",s)
print("Frozen Set: ",frozenset(s))

Set:  {1, 2, 3, 4}
Frozen Set:  frozenset({1, 2, 3, 4})

In [5]:
#24. Check if a set is disjoint with another set.

s1 = {1,2,3}
s2 = {4,0,6}
if s1.isdisjoint(s2):
    print(s1,"is disjoint of",s2)
else:
    print(s1,"is not disjoint of",s2)

{1, 2, 3} is disjoint of {0, 4, 6}

In [7]:
#25. Create a set of squares of numbers from 1 to 5.

s = set()
for i in range(1,6):
    s.add(i**2)
print("Set of squares of numbers from 1 to 5: ",s)

Set of squares of numbers from 1 to 5:  {1, 4, 9, 16, 25}

In [1]:
#26. Filter out all even numbers from a set.

s = {1,2,3,4,5,6,7,8}
print("Set: ",s)
even = set()
for i in s:
    if i%2 == 0:
        even.add(i)
print("Even numbers: ",even)

Set:  {1, 2, 3, 4, 5, 6, 7, 8}
Even numbers:  {8, 2, 4, 6}

In [2]:
#27. Multiply all elements in a set by 2.

s = {1,4,7,11,22}
ns = set()
print("Set: ",s)
for i in s:
    ns.add(i*2)
print("Elements multiplied by 2: ",ns)

Set:  {1, 4, 22, 7, 11}
Elements multiplied by 2:  {2, 8, 44, 14, 22}

In [5]:
#28. Create a set of random numbers.

import random
s = set()
for i in range(10):
    s.add(random.randint(1,100))
print("Set of random numbers: ",s)

Set of random numbers:  {41, 46, 14, 52, 22, 24, 26, 28, 29}

In [13]:
#29. Check if a set is empty.

s = {1,2,3}
print("Set: ",s)
if s:
    print("Set is not empty")
else:
    print("Set is empty")

Set:  {1, 2, 3}
Set is not empty

In [18]:
#30. Create a nested set (hint: use frozenset).

s1 = {1,2,3}
s2 = {4,5,6}
s = {frozenset(s1),frozenset(s2)}
print("Nested Set: ",s)

Nested Set:  {frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [23]:
#31. Remove an element from a set using the discard method.

s = {1,3,4,5,6,7}
print("Set: ",s)
ele = int(input("Enter element to be removed: "))
s.discard(ele)
print("Set after removal of",ele,": ",s)

Set:  {1, 3, 4, 5, 6, 7}

Enter element to be removed:  3

Set after removal of 3 :  {1, 4, 5, 6, 7}

In [25]:
#32. Compare two sets.

set1 = {1, 2, 3, 4, 5,9}
set2 = {4, 5, 6, 7, 8,99}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5, 9}
Set 2: {99, 4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 99, 6, 7, 9, 8}
Elements in set1 but not in set2: {1, 2, 3, 9}
Elements in set2 but not in set1: {8, 99, 6, 7}

In [27]:
#33. Create a set from a string.

s = input("Enter a string: ")
st = set()
for i in s:
    st.add(i)
print("Set from string: ",st)

Enter a string:  PWSkills

Set from string:  {'i', 'k', 'P', 'l', 'W', 's', 'S'}

In [35]:
#34. Convert a set of strings to a set of integers.

s = {"123", "456", "789"}
print("Set of strings: ",s)
si = set()
for i in s:
    si.add(int(i))
print("Set of integers:",si)

Set of strings:  {'789', '456', '123'}
Set of integers: {456, 123, 789}

In [38]:
#35. Convert a set of integers to a set of strings.

s = {1,2,3}
print("Set of integers: ",s)
ss = set()
for i in s:
    ss.add(str(i))
print("Set of strings: ",ss)

Set of integers:  {1, 2, 3}
Set of strings:  {'3', '1', '2'}

In [39]:
#36. Create a set from a tuple.

t = (1,2,3,4,4,3)
print("Tuple: ",t)
print("Set form tuple: ",set(t))

Tuple:  (1, 2, 3, 4, 4, 3)
Set form tuple:  {1, 2, 3, 4}

In [41]:
#37. Convert a set to a tuple.

s = {1,2,3,4}
print("Set: ",s)
print("Set to tuple: ",tuple(s))

Set:  {1, 2, 3, 4}
Set to tuple:  (1, 2, 3, 4)

In [44]:
#38. Find the maximum value in a set.

s = {1,2,3,4,9,99}
print("Set: ",s)
print("Maximum value from set: ", max(s))

Set:  {1, 2, 99, 3, 4, 9}
Maximum value from set:  99

In [45]:
#39. Find the minimum value in a set.

s = {1,2,3,4,9,99}
print("Set: ",s)
print("Minimum value from set: ", min(s))

Set:  {1, 2, 99, 3, 4, 9}
Minimum value from set:  1

In [2]:
#40. Create a set from user input.

s = set()
while True:
    inp = input("Enter elements for set (enter 'done' to finish): ")
    if inp.lower() == 'done':
        break
    else:
        s.add(inp)
print("Set from user input: ",s)

Enter elements for set (enter 'done' to finish):  1
Enter elements for set (enter 'done' to finish):  2
Enter elements for set (enter 'done' to finish):  3
Enter elements for set (enter 'done' to finish):  4
Enter elements for set (enter 'done' to finish):  4
Enter elements for set (enter 'done' to finish):  4
Enter elements for set (enter 'done' to finish):  4
Enter elements for set (enter 'done' to finish):  5
Enter elements for set (enter 'done' to finish):  5
Enter elements for set (enter 'done' to finish):  done

Set from user input:  {'2', '3', '4', '5', '1'}

In [6]:
#41. Check if the intersection of two sets is empty.

s1 = {1,2,3,4}
s2 = {0,-2,5,6}
print("Set 1:",s1)
print("Set 2:",s2)
if s1.intersection(s2):
    print("Intersection of two sets is not empty")
else:
    print("Intersection of two sets is empty")

Set 1: {1, 2, 3, 4}
Set 2: {0, 5, -2, 6}
Intersection of two sets is empty

In [13]:
#42. Create a set of the first 5 Fibonacci numbers.

n=int(input('Enter the count of fibonacci series: '))
flst = []
if n<=0:
    print("Invalid input!. Please enter a valid positive number.")
elif n==1:
    flst.append(0)
    print(set(flst))
else:
    flst = [0,1]
    for i in range(2, n):
        next_ele = flst[i-1]+flst[i-2]
        flst.append(next_ele)
    print(set(flst))

Enter the count of fibonacci series:  5

{0, 1, 2, 3}

In [14]:
#43. Remove duplicates from a list using sets.

l = [1,2,3,3,3,4,4,4,5]
print("List: ",l)
print("Removing duplicates from list: ",set(l))

List:  [1, 2, 3, 3, 3, 4, 4, 4, 5]
Removing duplicates from list:  {1, 2, 3, 4, 5}

In [15]:
#44. Check if two sets have the same elements, regardless of their count.

s1 = {1,1,2,2,3,3}
s2 = {1,2,3}
if s1==s2:
    print(s1,"and",s2,"have same elements")
else:
    print(s1,"and",s2,"have different elements")

{1, 2, 3} and {1, 2, 3} have same elements

In [16]:
#45. Create a set of the first `n` powers of 2.

n = int(input("Enter value for n: "))
s=set()
for i in range(1,n+1):
    s.add(2**i)
print("Set of first",n,"powers of 2: ",s)

Enter value for n:  5

Set of first 5 powers of 2:  {32, 2, 4, 8, 16}

In [17]:
#46. Find the common elements between a set and a list.

l = [1,2,2,3,4,4,5]
s = {1,2,8,9,0}
print("List: ",l)
print("Set: ",s)
l2s = set(l)
print("Common elements between set and list: ",s.intersection(l2s))

List:  [1, 2, 2, 3, 4, 4, 5]
Set:  {0, 1, 2, 8, 9}
Common elements between set and list:  {1, 2}

In [18]:
#47. Create a set of the first `n` triangular numbers.

n = int(input("Enter value of n: "))
s=set()
for i in range(1,n+1,1):
    s.add(i*(i+1)//2,)
print("Tuple of first",n,"triangular numbers: ",s)

Enter value of n:  4

Tuple of first 4 triangular numbers:  {1, 10, 3, 6}

In [20]:
#48. Check if a set contains another set as a subset.

s1 = {1,2}
s2 = {1,2,3,4}
print("Set 1: ",s1)
print("Set 2: ",s2)
if s1.issubset(s2):
    print(s1,"is subset of",s2)
else:
    print(s1,"is not a subset of",s2)

Set 1:  {1, 2}
Set 2:  {1, 2, 3, 4}
{1, 2} is subset of {1, 2, 3, 4}

In [24]:
#49. Create a set of alternating 1s and 0s of length `n`.

n = int(input("Enter value for n: "))
s=set()
for i in range(1,n+1):
    s.add(i%2)
print("Set of  alternating 0s and 1s: ",s)
print("As set is a collection of distict elements, therefore the output will always be 0 and 1 irrespective of the value of m")

Enter value for n:  58

Set of  alternating 0s and 1s:  {0, 1}
As set is a collection of distict elements, therefore the output will always be 0 and 1 irrespective of the value of m

In [25]:
#50. Merge multiple sets into one.

s1 = {1,2,3}
s2 = {4,5,6}
s3 = {7,8,9}

print("Set 1: ",s1)
print("Set 2: ",s2)
print("Set 3: ",s3)

print("Merged Set: ",s1.union(s2,s3))

Set 1:  {1, 2, 3}
Set 2:  {4, 5, 6}
Set 3:  {8, 9, 7}
Merged Set:  {1, 2, 3, 4, 5, 6, 7, 8, 9}